<!-- <div style="text-align:center;">
  <h1>La Familia!</h1>
</div>
<div class="container-fluid">
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top cover"
        src="assets/img/1.jpg"
        alt=""
        style="border: 1px solid grey;"
      />
      <div class="card-body">
        <h5 class="card-title">{{ family[0].name }}</h5>
        <h6 class="card-title">{{ family[0].relationship }}</h6>
        <h6 class="card-text">Gender: {{ family[0].gender }}</h6>
        <h6 class="card-text">
          Do I like this person: {{ family[0].isLikable }}
        </h6>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary float-right" (click)="showFamily()">
          See Details
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ family[1].name }}</h5>
        <h6 class="card-title">{{ family[1].relationship }}</h6>
        <h6 class="card-text">Gender: {{ family[1].gender }}</h6>
        <h6 class="card-text">
          Do I like this person: {{ family[1].isLikable }}
        </h6>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary float-right" (click)="showFamily()">
          See Details
        </button>
      </div>
    </div>
    <div class="card">
      <img
      class="card-img-top cover"
      src="assets/img/3.jpg"
      alt=""
      style="border: 1px solid grey;"
    />
      <div class="card-body">
        <h5 class="card-title">{{ family[2].name }}</h5>
        <h6 class="card-title">{{ family[2].relationship }}</h6>
        <h6 class="card-text">Gender: {{ family[2].gender }}</h6>
        <h6 class="card-text">
          Do I like this person: {{ family[2].isLikable }}
        </h6>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary float-right" (click)="showFamily()">
          See Details
        </button>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="card-deck" style="text-align:center;">
    <div class="card" (mouseover)="showName()">
      <div class="inner">
        <img
          class="card-img-top cover"
          src="assets/img/{{family.id}}.jpg"
          alt="Album cover for {{ family.name }}"
          style="border: 1px solid grey;"
        />
        <div class="card-body">
          <h5 class="card-title">{{ family.name }}</h5>
          <h6 class="card-title">{{ family.relationship }}</h6>
          <h6 class="card-text">Gender: {{ family.gender }}</h6>
          <h6 class="card-text">
            Do I like this person: {{ family.isLikable }}
          </h6>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-right" (click)="showFamily()">
            See Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
